# a sample of zn's runtime configuration.
# chans is a comma-seperated list
[main]
user=zn
pass=Zinc345
chans=#developerslv

irchost=irc.freenode.net
ircport=6667

master=ij
ignores=somebloodybugger
bots=zn

history-length=3000
nsfw-host=nsfw

[replies]
ping=pong
