# a sample of zn's runtime configuration.
# chans is a comma-seperated list
[main]
user=zn
pass=Zinc345
chans=#developerslv

master=ij
ignores=somebloodybugger

irchost=irc.freenode.net
ircport=6667

history-length=3000

bots=zn

[replies]
ping=pong
