[Unit]
Description=Start zn

[Service]
ExecStart=/bin/sh -c 'cd $HOME/zn; make'
ExecReload=/bin/kill -USR1 $MAINPID
Restart=always
RestartSec=30s

[Install]
WantedBy=multi-user.target
